// Code generated by Fern. DO NOT EDIT.

package tokens

import (
    context "context"

    management "github.com/synqly/go-sdk/client/management"
    core "github.com/synqly/go-sdk/client/management/core"
    internal "github.com/synqly/go-sdk/client/management/internal"
    option "github.com/synqly/go-sdk/client/management/option"
)


type Client struct {
    WithRawResponse *RawClient

    options *core.RequestOptions
    baseURL string
    caller *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
    return &Client{
        WithRawResponse: NewRawClient(options),
        options: options,
        baseURL: options.BaseURL,
        caller: internal.NewCaller(
            &internal.CallerParams{
                Client: options.HTTPClient,
                MaxAttempts: options.MaxAttempts,
                DisableRetries: options.DisableRetries,
            },
        ),
    }
}

// Create an adhoc organization token restricted to specified resources and permission set.
// Tokens can only be reduced in scope, never expanded.
// Permissions are inherited from the token used to call this API.
// Permissions assigned to the new token will not be persisted, this is not a way to create roles.
func (c *Client) CreateToken(
    ctx context.Context,
    request *management.CreateTokenRequest,
    opts ...option.RequestOption,
) (*management.CreateTokenResponse, error){
    response, err := c.WithRawResponse.CreateToken(
        ctx,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Create a token for MCP authentication. This token is soley for MCP authentication and cannot
// authenticate with any other API.
func (c *Client) CreateMcpToken(
    ctx context.Context,
    request *management.CreateMcpTokenRequest,
    opts ...option.RequestOption,
) (*management.CreateMcpTokenResponse, error){
    response, err := c.WithRawResponse.CreateMcpToken(
        ctx,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Create an adhoc integration token restricted to a single integration. The token used to call
// this API must have the necessary permissions to create tokens and have access to the account
// and integration IDs. Permissions may not be escalated, so any operation that the invocation
// token does not have access to cannot be granted.
func (c *Client) CreateIntegrationToken(
    ctx context.Context,
    accountId management.AccountId,
    integrationId management.IntegrationId,
    request *management.CreateIntegrationTokenRequest,
    opts ...option.RequestOption,
) (*management.CreateIntegrationTokenResponse, error){
    response, err := c.WithRawResponse.CreateIntegrationToken(
        ctx,
        accountId,
        integrationId,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Create a token for managing Synqly-specific integrations. This token can be used with the integration APIs to manage
// integrations for Synqly-specific integrations, such as status events exports and async operations. See the
// [Synqly Integrations](https://docs.synqly.com/guides/synqly-integrations) documentation for more information.
func (c *Client) CreateSynqlyIntegrationsToken(
    ctx context.Context,
    request *management.CreateSynqlyIntegrationsTokenRequest,
    opts ...option.RequestOption,
) (*management.CreateSynqlyIntegrationsTokenResponse, error){
    response, err := c.WithRawResponse.CreateSynqlyIntegrationsToken(
        ctx,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Deletes the Refresh Token with id `{id}`. This immediately
// invalidates both the primary and secondary token pairs.
func (c *Client) Delete(
    ctx context.Context,
    refreshTokenId management.TokenId,
    opts ...option.RequestOption,
) error{
    _, err := c.WithRawResponse.Delete(
        ctx,
        refreshTokenId,
        opts...,
    )
    if err != nil {
        return err
    }
    return nil
}

// Returns a list of all `RefreshToken` objects belonging to the Authorization Bearer
// token. For more infromation on Tokens, refer to
// [Authentication](/api-reference/authentication).
func (c *Client) List(
    ctx context.Context,
    request *management.ListTokensRequest,
    opts ...option.RequestOption,
) (*management.ListTokensResponse, error){
    response, err := c.WithRawResponse.List(
        ctx,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Returns the `RefreshToken` object matching `{tokenId}`. For more information on
// Tokens, refer to
// [Authentication](/api-reference/authentication).
func (c *Client) Get(
    ctx context.Context,
    refreshTokenId management.TokenId,
    opts ...option.RequestOption,
) (*management.GetTokenResponse, error){
    response, err := c.WithRawResponse.Get(
        ctx,
        refreshTokenId,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// This API can be used to reset `Organization` or `Integration` `RefreshTokens`.
// Resets the specified `RefreshToken` and expiration time, removes the secondary, and resets access and refresh tokens for the
// `RefreshToken` object matching `{ownerId}/{refreshTokenId}` where `ownerId` is an `organizationId` or `integrationId`.
// An `Organization` token with `administrator` permissions can be used to perform this operation.
func (c *Client) Reset(
    ctx context.Context,
    ownerId management.Id,
    refreshTokenId management.TokenId,
    opts ...option.RequestOption,
) (*management.ResetTokenResponse, error){
    response, err := c.WithRawResponse.Reset(
        ctx,
        ownerId,
        refreshTokenId,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// This API can be used to rotate an `Organization` or `Integration` `RefreshTokens`.
// Rotate deletes the existing `Secondary` TokenPair, moves the `Primary` TokenPair to the `Secondary` TokenPair and creates a new `Primary` TokenPair for the
// `RefreshToken` object matching `{ownerId}/{refreshTokenId}` where `ownerId` is an `organizationId` or `integrationId`.
// An `Organization` token with `administrator` permissions can be used to perform this operation.
func (c *Client) Rotate(
    ctx context.Context,
    ownerId management.Id,
    refreshTokenId management.TokenId,
    opts ...option.RequestOption,
) (*management.RotateTokenResponse, error){
    response, err := c.WithRawResponse.Rotate(
        ctx,
        ownerId,
        refreshTokenId,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Creates a new primary `TokenPair` object, setting the secondary `TokenPair`
// to the previous primary value. Call `/v1/removeSecondaryToken` to remove
// this secondary backup once the new primary `TokenPair` has been deployed.
func (c *Client) Refresh(
    ctx context.Context,
    refreshTokenId management.TokenId,
    opts ...option.RequestOption,
) (*management.RefreshTokenResponse, error){
    response, err := c.WithRawResponse.Refresh(
        ctx,
        refreshTokenId,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Deletes the secondary `TokenPair` for the `RefreshToken` object
// matching `{refreshTokenId}`.
func (c *Client) RemoveSecondary(
    ctx context.Context,
    refreshTokenId management.TokenId,
    opts ...option.RequestOption,
) error{
    _, err := c.WithRawResponse.RemoveSecondary(
        ctx,
        refreshTokenId,
        opts...,
    )
    if err != nil {
        return err
    }
    return nil
}

